*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: #212121;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}

span a{
    font: 2em "arial";
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}

/* Menu */
#menu{
    display: flex;
}

#menu li{
    margin-right: 30px;
    list-style: none;
}

#menu a{
    text-decoration: none;
    color: #fff;
    font: 1.2em "arial";
}

#menu li:hover a{
    text-decoration:underline;
}

/* SEÇÃO HOME */

section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
    border: 1px solid red;
}

#home{
    display: flex;
    flex-direction: column;
}

#home h1{
    margin-bottom: 20px;
    font: 1.8em "arial";
    font-weight: 700;
}

#container{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    flex-flow: row wrap;
    gap: 20px;
}

#container .produto{
    width: 200px;
    height: 200px;
    background-color: #000;
}

/* SOBRE */

#sobre figure img{
    border: 10px solid transparent;
    border-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
    border-image-slice:1;/*faz a borda envolver toda a imagem*/
}

#sobre #texto{
    width: 30%;
    padding-left:50px;
}

#texto h2{
    font: 2.5em "arial";
    font-weight: 700;
    margin-bottom:1rem ;
}

#texto p{
    font: 1.6em "arial";
    line-height: 1.4em;
}
