
body{
    background-color: #000;
    color: #fff;
}

h2{
    text-align: center;
}

#anima-time div{
    width: 80px;
    height: 50px;
}

#anima-time div:nth-child(1){
    border: 3px solid #007BFF;
    
    /* animation: anda 2s infinite; */
    animation-name: anda;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    /*  
    IN - INicio - acelera
    OUT - finOUT - desacelera
    IN-OUT - acelera no inicio e desacelera no final
    */
}

#anima-time div:nth-child(2){
    border: 3px solid #2DFF00;
    
    animation-name: anda;
    animation-duration: 2s;
    animation-iteration-count:infinite;/*quantas vezes quero que aconteça?*/
    animation-direction:alternate;/*impede de fazer a volta brusca*/
    animation-timing-function: ease-in-out;

    /* shorthand */
    /* animation: anda 2s infinite alternate ease-in-out; */
}

#anima-time div:nth-child(3){
    border: 3px solid #FF19C6;
    
    animation-name: anda;
    animation-duration: 2s;
    animation-iteration-count:infinite;/*quantas vezes quero que aconteça?*/
    animation-direction:alternate;/*impede de fazer a volta brusca*/
    animation-timing-function: ease-in-out;
    animation-delay: 1s;/*tempo que demora pra iniciar a animação*/

     /* shorthand */
    /* animation: anda 2s infinite 1s ease-in-out alternate; */

}

@keyframes anda{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(300px);
    }
}