body{
	font-family: "trebuchet MS",Helvetica,sans-serif;
	background: #348ceb url("../imagens/midorya.png");
	background-size: cover;
}
#container{
	width: 350px;
	height: 350px;
	background:rgba(255,255,255,0.8);
	margin:170px auto;
	text-align: center;

}

img{
	width:180px;
	height:180px;
	border-radius: 100%;
	margin-top: -90px;
	margin-bottom: 50px;
}

input{
	display: block;
	margin: 0 auto;
	width: 80%;
	height:40px;
	margin-bottom: 10px;
	border: none;
	padding-left: 40px;

}

input[type="submit"]{
	width: 80%;
	height:40px;
}